
@font-face {
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/icomoon.eot?#iefix-yg3ym1") format("embedded-opentype"), url("fonts/icomoon.woff?-yg3ym1") format("woff"), url("fonts/icomoon.ttf?-yg3ym1") format("truetype"), url("fonts/icomoon.svg?-yg3ym1#icomoon") format("svg");
}
[class^="icon-"], [class*=" icon-"] {
    font-family: "icomoon";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}

.icon-help:before
{
	content: "\e76b";
}
.question .icon-help:before
{
	content: "";
}
.question .icon-help {
	
	background: url(http://kroaur.ru/bitrix/templates/site_template/images/189.png) 0px 0px no-repeat;
	width: 35px;
	height: 36px;
	display: block;
}
.icon-menu:before {
	content: "\e120";
}
.icon-dollar:before {
	content: "\e608";
}
.icon-pig:before {
	content: "\e609";
}
.icon-camera:before {
	content: "\e601";
}
.icon-news:before {
	content: "\e602";
}
.icon-mail:before {
	content: "\e60a";
}
.icon-note:before {
	content: "\e603";
}
.icon-search:before {
	content: "\f002";
}
.icon-print:before {
	content: "\e741";
}
.icon-money:before {
	content: "\f0d6";
}
.icon-youtube-play:before {
	content: "\e786";
}
.icon-bullhorn:before {
	content: "\e604";
}
.icon-user:before
{
	content: "\e60b";
}
.answer .icon-user:before
{
	content: "";
}
.answer .icon-user {
	background: url(http://kroaur.ru/bitrix/templates/site_template/images/187.png) 0px 0px no-repeat;
	width: 35px;
	height: 36px;
	display: block;
}
.icon-arrow-up:before {
	content: "\e605";
}
.icon-arrow-right:before {
	content: "\e787";
}
.icon-file-word:before {
	content: "\e607";
}